.header {  
    background-color:cadetblue; 
    position: fixed;
    min-width: 1200px;
    max-width: 3000px;  
    top: 0;  
    z-index: 100;  
    width: 100%;  
    }

body{
    margin: 0px;
    
}

.header h1{
    font-size: 60px;
    text-align: center;
    margin: 0px;
    
}
.but{
    /* width: 14%;
    height: 60px;
    top: 5%;
    bottom:3px;
    margin-left: 20px;
     */

    left: 4%;
    margin-top: 0.05%;
    font-size: 20px;
    position: absolute;
    border: 1px solid black; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}  

.but1{
    width: 14%;
    height: 60px;
    /* /background: url('logo.jpg') 50% 50% no-repeat; */
    background-size: contain; 
    left: 22%;
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}  

.logo{
    width: 186px;
    position: absolute;
    top: 10px;
    border: 1px solid black;
}
@keyframes shadow{
	0% {
		box-shadow: 0px  0px 0px 0px rgb(252, 5, 5);
		transform: translate(0, 0);
	}
	50% {
		box-shadow: 0px  0px 10px 10px rgb(234, 238, 2);
		transform: translate(10px, -30px) rotate(30deg);
	}
	100% {
		box-shadow: 0px  0px 0px 0px rgb(23, 247, 3);
		transform: translate(0, 0);
	}
}
.but:hover {
	animation: 2s shadow infinite ease;
	box-shadow: translate(0, -30px) scale(1.5);
}
.main{
    width: 100%;
    height: 5020px;
    /* margin-top: 6.8%; */
    
    /* background: #c7b39b url(image/btc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align:center;
     */
}

.mainvideo{
    width: 100%;
    height: 1560px;
    margin-top: 6.8%;
    /* margin-; */

}

main_top{
    width: 100%;
    height: 1560px;
}

h1{
    color:black;
    text-align:center;
}
h2{
    color:black;
    text-align:center;
}
h3{
    color:black;
    text-align:center;
}
footer {
    position: absolute;
    /* position: relative; */
    width: 99.45%;
    padding: 5px;
    height: 100px;
    background-color: #45a1ff;
    color: #fff;
}

p{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    font-size: 15pt;
}
ul {

    padding-left: 5; /* Отступ слева в браузере Firefox, Safari, Chrome */
    text-align: center;
   }
.bold{
    font-weight: bold;
}
.btcltc{
    margin-left: 25%;
}

.youtubeiframe1{
    width: 560;
    height: 315;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.youtubeiframe2{
    width: 560;
    height: 315;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.kor{
    width: 90px;
    position: fixed;
    right: 0%;
    top: 17px;
    z-index: 10;
}

.q{
    position:fixed;
    right: 20px;
    top: 45px;
    z-index: 10; /* удерживайте поверх остальных элементов страницы */
}

.sum{
    position: fixed;
    right: 3px;
    top: 90px;
    z-index: 10;
}

.change {
    width: 20%;
    top: 134px;
    position: relative;
    float: left;
}

.change button{
    width: 100%;
    height: 240px;
    font-size: 30px;
    color:cadetblue;
    min-width: 200px;
    transition: 0.4s;
}

.change button:hover { 
    background: rgb(3, 77, 238); 
}
.change button:active { 
    background: rgb(98, 113, 128);
    
} 

.list1, .list2, .list3, .list4{
    width: 100%;
    height: 320px;
    /*background-color:lightskyblue;*/
    min-width: 500px;
}

.list1{
    display:block;
}
.list2{
    display:none;
}
.list3{
    display:none;
}
.list4{
    display:none;
}
.card{
    position:relative;
    top: 41.5%;
    width: 39.84%;
    height: 479px;
    float: left;
    margin-right: 0%;
    background-color:cadetblue;
    border: 1px solid rgb(112, 7, 233);
    max-width: 900px;
    min-width: 500px;
}

.card img{
    float: left;
    height: 200px;
    
}

.card p{
    
    text-align: center;
    color:blue;
    font-size: 40px;
    font-weight: 1000;
    margin: 0px 0;
}

.card button{
  
    display: block;
    background-color: blueviolet;
    float: right;
    width: 20%;
    top: 200px;
    height: 20%;
    margin-top: 78px;
}

.card h3{
    float: right;
    margin-top: 78px;
    margin-right: 5px;
}

.spisok {
	width: 400px;
	height: 500px;
	position: absolute;
	top: 30%;
	left: 45%;
	background: white;
	border: 1px solid black;
	display: none;
	overflow-x: auto;
}
table {
	width: 50%;
}
th, td{
	border: 1px solid black;
	text-align: center;
}

.iframe_news{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 7%;
    width: 40%;
    height: 60%;
}

a {
    display: inline-block;
  }
  
  img {
    transition: all .3s ease;
  }
  
  a:hover img {
    opacity: 0;
  }
  
  a:hover {
    background: no-repeat 50% 50%  url("image/news.jpg");
  }